<div *ngIf="(basket$ | async) === null">
    <p>There are no items in your basket</p>
</div>

<div class="card" *ngIf="(basket$ | async) as basket"></div>
    <div class="row">
        <div class="col-md-8 cart" style="background-color: black;">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Basket</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"></div>
                </div>
            </div>
            <div class="row border-top border-bottom"></div>
                <div class="row main align-items-center"  *ngFor="let item of (basket$ | async).items">
                    <div class="col-2"><img class="img-fluid" src="{{item.pictureUrl}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{item.type}}</div>
                        <div class="row">{{item.productName}}</div>
                    </div>
            <div class="col"> <a (click)="decrementItemQuantity(item)">-</a><a class="border">{{item.quantity}}</a><a (click)="incrementItemQuantity(item)">+</a></div>
        <div class="col">{{item.price * item.quantity| currency: 'EUR'}}<span class="close" (click)="removeBasketItem(item)">&#10005;</span></div>
    </div>
    <div class="back-to-shop"><a routerLink="/shop">&leftarrow;</a><span class="text-muted" routerLink="/shop">Back to shop</span></div>


        <app-order-totals></app-order-totals>
</div>

